### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
LAPKT-public/external/libff/lex.fct_pddl.c
LAPKT-public/external/libff/lex.ops_pddl.c
LAPKT-public/external/libff/Makefile
LAPKT-public/external/libff/Makefile.bak
LAPKT-public/external/libff/scan-fct_pddl.tab.c
LAPKT-public/external/libff/scan-ops_pddl.tab.c
siw-bkparser-cmake/.idea/deployment.xml
siw-bkparser-cmake/.idea/misc.xml
siw-bkparser-cmake/cmake-build-debug/callgrind.out.15600
siw-bkparser-cmake/cmake-build-debug/callgrind.out.16842
siw-bkparser-cmake/cmake-build-debug/callgrind.out.17469
siw-bkparser-cmake/cmake-build-debug/cmake_install.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeCache.txt
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CMakeCCompiler.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CMakeSystem.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/clion-environment.txt
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/clion-log.txt
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/CMakeOutput.log
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/feature_tests.bin
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/feature_tests.c
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/feature_tests.cxx
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/build.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/C.includecache
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/cmake_clean.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/depend.internal
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/depend.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/DependInfo.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/flags.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/libff.dir/link.txt
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/Makefile.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/Makefile2
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/progress.marks
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/build.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/cmake_clean.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/CXX.includecache
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/depend.internal
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/depend.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/DependInfo.cmake
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/flags.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/include/aptk/bit_set.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/action.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/bwd_search_prob.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/cond_eff.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/conj_comp_prob.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/fl_conj.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/fluent.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/fwd_search_prob.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/landmark_graph.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/match_tree.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/mutex_set.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/reachability.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/strips_prob.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/strips_state.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/succ_gen.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/agnostic/watched_lit_succ_gen.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/interfaces/ff-wrapped/ff_to_aptk.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/src/bit_array.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/src/bit_set.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/home/chao/LAPKT-edit/LAPKT-public/src/memory.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/link.txt
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/progress.make
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/siw.dir/src/main.cxx.o
siw-bkparser-cmake/cmake-build-debug/CMakeFiles/TargetDirectories.txt
siw-bkparser-cmake/cmake-build-debug/execution.details
siw-bkparser-cmake/cmake-build-debug/Makefile
siw-bkparser-cmake/cmake-build-debug/plan.ipc
siw-bkparser-cmake/cmake-build-debug/siw
siw-bkparser-cmake/cmake-build-debug/siw_ffparser_cmake.cbp
siw-bkparser-cmake/cmake-build-release/cmake_install.cmake
siw-bkparser-cmake/cmake-build-release/CMakeCache.txt
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CMakeCCompiler.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CMakeSystem.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
siw-bkparser-cmake/cmake-build-release/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
siw-bkparser-cmake/cmake-build-release/CMakeFiles/clion-environment.txt
siw-bkparser-cmake/cmake-build-release/CMakeFiles/clion-log.txt
siw-bkparser-cmake/cmake-build-release/CMakeFiles/cmake.check_cache
siw-bkparser-cmake/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/CMakeOutput.log
siw-bkparser-cmake/cmake-build-release/CMakeFiles/feature_tests.bin
siw-bkparser-cmake/cmake-build-release/CMakeFiles/feature_tests.c
siw-bkparser-cmake/cmake-build-release/CMakeFiles/feature_tests.cxx
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/build.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/C.includecache
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/cmake_clean.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/cmake_clean_target.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/depend.internal
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/depend.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/DependInfo.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/flags.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/link.txt
siw-bkparser-cmake/cmake-build-release/CMakeFiles/libff.dir/progress.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/Makefile.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/Makefile2
siw-bkparser-cmake/cmake-build-release/CMakeFiles/progress.marks
siw-bkparser-cmake/cmake-build-release/CMakeFiles/Progress/1
siw-bkparser-cmake/cmake-build-release/CMakeFiles/Progress/count.txt
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/build.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/cmake_clean.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/CXX.includecache
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/depend.internal
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/depend.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/DependInfo.cmake
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/flags.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/link.txt
siw-bkparser-cmake/cmake-build-release/CMakeFiles/siw.dir/progress.make
siw-bkparser-cmake/cmake-build-release/CMakeFiles/TargetDirectories.txt
siw-bkparser-cmake/cmake-build-release/execution.details
siw-bkparser-cmake/cmake-build-release/Makefile
siw-bkparser-cmake/cmake-build-release/plan.ipc
siw-bkparser-cmake/cmake-build-release/siw
siw-bkparser-cmake/cmake-build-release/siw_ffparser_cmake.cbp
siw-bkparser-cmake/CMakeLists.txt
